<!DOCTYPE html>
<html>
	<head>
		<title>CMPEit</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body bgcolor="#353535">
		<div class="topnav">
			<% if (currUser) { %>
			<div class="topnav-left">
				<img src="/images/cmpeit_logo3.png" style="width: 20%;height: 20%;">
				<div class="topnav-right">
					<span style="font-size:30px; color: white; font-family: Helvetica;":><strong> Signed in as <%= currUser.username %>  </strong></span>
					<a href="/post/show-post" style="color:white; font-family: Helvetica;"><button class="button">Show all Posts</button></a>
					<a href="/logout" style="color:white; font-family: Helvetica;"><button class="button">Logout</button></a>
				</div>
				<% } %>
			</div>
		</div>
		<br><br>
		<article align="center">
			<strong><font face="helvetica"><font size="15" color="white">Create A Comment</font></strong>
			<br><br>
			<form action="/post/<%= postId %>/comment/create-comment" method="POST">
				<textarea name="content" placeholder="Write comment here" required autofocus class="resizedTextbox"></textarea><br><br>
				<button class="button">Post Comment</button>
			</form>
			<form action="/post/show-post">
				<button class="button"> Show All Posts</button>
			</form>
		</article>
	</body>
</html>