<!DOCTYPE html>
<html>
<head>
    <title>CMPEit</title>
</head>
<body bgcolor="#eff2f1">
<header style="background-color: black;color:white; padding:10px">
    <font size="24">CMPEit Create Comment Page</font>
</header>

<article align="center">
    <form action="/post/<%= postId %>/comment/create-comment" method="POST">
        <br>
        <input name="content" placeholder="Comment content" required autofocus><br><br>
        <button> Comment </button>
    </form>
</article>
<footer>
</footer>
</body>
</html>
