<!DOCTYPE html>
<html>
<head>
  <title>CMPEit</title>
</head>
<body bgcolor="#eff2f1">
  <header style="background-color: black;color:white; padding:10px">
   <font size="24">CMPEit Create Post Page</font>
      <nav align="right">
          <% if (currentUser) { %>
          <span style="font-size:30px;":><strong> Welcome <%= currentUser.username %> </strong></span>
          <a href="/post/show-post" style="color:white">   Show all Posts </a>
          <a href="/logout" style="color:white">   Logout </a>
          <% } else { %>
          <a href="/"> Login/ Register </a>
          <a href="/post/show-post" style="color:white">   Show all Posts</a>
          <% } %>
      </nav>
  </header>

  <article align="center">
    <form id="post-create" action="/post/create-post" method="POST">
      <br>
      <input id="name" name="name" placeholder="Post Title" required autofocus><br><br>
      <textarea id="content" name="content" cols="30" rows="10" placeholder="Enter Content Here" required></textarea><br><br>
      <button id="create-post"> Post </button>
    </form>
  </article>
<footer>
</footer>
</body>
</html>
