<!DOCTYPE html>
<html>
<head>
  <title>CMPEit</title>
</head>
<body bgcolor="#eff2f1">
  <header style="background-color: black;color:white; padding:10px">
    <font size="24">CMPEit Show Post Page</font>
  </header>
  <article>
    <% for(var i = 0; i < data.length; i++) { %>
    <span style="font-size:30px;":><strong><%= data[i].name %></strong></span>
    <span style="font-size:15px"> #<%= i + 1 %></span><br>
    <span style="font-size:20px"><%= data[i].content %></span>

    <br/><hr>
    <% }%>
  </article>

</body>
<footer>
  <script type="module" src="js/event_handlers.js"></script>
  <script type="module" src="js/routing.js"></script>
  <!-- <script type="module" src="js/show-post.js"></script> -->
</footer>

</html>
