<!DOCTYPE html>
<html>
	<head>
		<title>
			CMPEit Login
		</title>
	</head>
	<body bgcolor="#eff2f1">
		<header align="center">
			<h1>CMPEit</h1>
			<img src="images/moo.png" alt="Moo!" width="30%" height="30%">
		</header>
		<article align="center">
			<strong><font size="28">Login</font></strong>
			<br>
			<form action="/login" method="POST">
				<input type="text" id="username" name="username" placeholder="Moosername" required autofocus><br><br>
				<input type="password" id="password" name="password" placeholder="Password" required><br><br>
				<button> Login </button>
				<br>
			</form>
			<a href="/reset-password">   Forgot your Password? </a>
			<a href="/signup">   Not a member? Register here! </a>
			<form action="/post/show-post">
				<button> Show All Posts! </button>
			</form>
		</article>
		<footer>
		</footer>
	</body>
</html>
