<!DOCTYPE html>
<html>
<head>
    <title>
        CMPEit CMPEit
    </title>
</head>
<body bgcolor="#eff2f1">
<header align="center">
    <h1>CMPEit</h1>
    <img src="images/moo.png" alt="Moo!" width="30%" height="30%">
</header>
<article align="center">
    <strong><font size="28">Login</font></strong>
    <br>
    <form action="/reset/<%=token%>" method="POST">
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>
        <input type="password" id="password" name="confirm" placeholder="Password" required><br><br>
        <button> Reset Password </button>
        <br>
    </form>
</article>
</body>
</html>
