<!DOCTYPE html>
<html>
<head>
    <title>
        CMPEit Login
    </title>
</head>
<body bgcolor="#eff2f1">
<header align="center">
    <h1>CMPEit</h1>
    <img src="images/moo.png" alt="Moo!" width="30%" height="30%">
</header>
<article align="center">
    <strong><font size="28">Login</font></strong>
    <br>
    <form action="/send-email" method="POST">
        <input type="email" id="email" name="email" placeholder="cow.moo@gmail.com" required autofocus><br> <br>
        <button> Send </button>
        <br>
    </form>
    <a href="/signup">   Not a member? Register here! </a><br>
    <a href="/">   Already a member? Login here! </a><br>
    <form action="/post/show-post">
        <button> Show All Posts! </button>
    </form>
</article>
<footer>
</footer>
</body>
</html>
