<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>
        CMPEit Sign-Up
    </title>
</head>
<body bgcolor="#353535">
<header align="left">
    <h1>
        <img src="images/cmpeit_logo3.png" style="width: 20%;height: 20%;">
        <!--<font face="helvetica"><font color="#FFD72C" size="18">CMPE</font><font color="white" size="18">it</font>-->
    </h1>
</header>
<article align="center">
    <br><br><br><br><br>
    <strong><font face="helvetica"><font size="6" color="white">Sign Up</font></strong>
    <br><br>
    <form action="/signup" method="POST">
        <input type="text" id="username" name="username" placeholder="Username" required autofocus><br><br>
        <input type="text" id="email" name="email" placeholder="Email" required><br><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>
        <button class="button">Sign Up</button>
        <br><br>
        <a href="/"><font color="#FFD72C">Are you a member? Login here!</a>
    </form>
    <br><br>
    <form action="/post/show-post">
        <button class="button">Show All Posts</button>
    </form>
    <div>
        <% if(error && error.length > 0) {%>
        <div align="center" style="color:red;">
            <%= error %>
        </div>
         <% } else if (success && success.length > 0) { %>
        <div align="center" style="color:green;">
            <%= success %>
        </div>
        <% } %>
     </div>
</article>
</body>
</html>
