<!DOCTYPE html>
<html>
<head>
    <title>
        CMPEit Signup
    </title>
</head>
<body bgcolor="#eff2f1">
<header align="center">
    <h1>CMPEit</h1>
    <img src="images/moo.png" alt="Moo!" width="30%" height="30%">
</header>
<article align="center">
    <strong><font size="28">Signup</font></strong>
    <br>
    <form action="/signup" method="POST">
        <input type="text" id="username" name="username" placeholder="Moosername" required autofocus><br><br>
        <input type="email" id="email" name="email" placeholder="cow.moo@gmail.com" required><br><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>
        <button>Sign Up</button>
        <br>
        <a href="/login">   Are you a member? Login here! </a>
        <!--<button id="signup">Create Account</button><br><br>-->
    </form>
    <!--<form action="/new-post">-->
        <!--<button> Create a New Post </button>-->
    <!--</form>-->
</article>
<footer>
    <!--<script type="module" src="js/event_handlers.js"></script>-->
    <!--<script type="module" src="js/routing.js"></script>-->
    <!--<script type="module" src="js/index.js"> </script>-->
</footer>
</body>
</html>
