.resizedTextbox {
	width: 600px; 
	height: 200px; 
	padding: 5px 5px;
}

textArea{
	font-family: Helvetica;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
}

.button {
	background-color: #FFD72C;
    border: none;
    color: black;
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

input[type=password] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px #FFD72C;
    border-radius: 4px;
    outline: none;
}

input[type=text] {
	width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px #FFD72C;
    border-radius: 4px;
    outline: none;
}

.btn-group button {
    background-color: #FFD72C;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.topnav {
  overflow: hidden;
  background-color: #353535;
}

.topnav-right {
  float: right;
}

.topnav-left {
  float: left;
}