<!DOCTYPE html>
<html>
<head>
    <title>
        CMPEit Reset Password
    </title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body bgcolor="#353535">
<header align="left">
    <h1>
        <img src="../../public/images/cmpeit_logo3.png" style="width: 20%;height: 20%;">
    </h1>
    <h2 align="center">
        <br><br><br><br>
            <font face="helvetica"><font color="white">Reset Your Password</font>
    </h2>
</header>
<article align="center">
    <form action="/reset/<%=token%>" method="POST">
        <input type="text" id="password" name="password" placeholder="New Password" required autofocus><br><br>
        <button class="button">Reset</button>
        <br>
    </form>
</article>
</body>
</html>
