<!DOCTYPE html>
<html>
<head>
    <title>
        CMPEit Reset Password
    </title>
</head>
<body bgcolor="#eff2f1">
<header align="center">
    <h1>CMPEit</h1>
    <img src="../images/moo.png" alt="Moo!" width="30%" height="30%">
</header>
<article align="center">

    <strong><font size="28">Reset Your Password</font></strong>
    <br>
    <form action="/reset/<%=token%>" method="POST">
        <input type="password" name="password" placeholder="New Password" required autofocus><br> <br>
        <button> Reset </button>
        <br>
    </form>
    <div>
        <% if(error && error.length > 0) {%>
        <div align="center" style="color:red;">
            <%= error %>
        </div>
         <% } else if (success && success.length > 0) { %>
        <div align="center" style="color:green;">
            <%= success %>
        </div>
        <% } %>
    </div>
</article>
</body>
</html>
