<!DOCTYPE html>
<html>
<head>
    <title>
        CMPEit Reset Password
    </title>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body bgcolor="#353535">
<header align="left">
    <h1>
        <img src="../../public/images/cmpeit_logo3.png" style="width: 20%;height: 20%;">
    </h1>
    <h2 align="center">
        <br><br><br><br>
            <font face="helvetica"><font color="white">Recovery Email</font>
    </h2>
</header>
<article align="center">
    <form action="/send-email" method="POST">
        <input type="text" id="email" name="email" placeholder="Email" required><br><br>
        <button class="button">Send Email</button>
        <br><br>
    </form>
    <a href="/signup"><font color="#FFD72C">Not a member? Register here!</a>
        <br><br>
    <a href="/"><font color="#FFD72C">Are you a member? Login here!</a>
        <br><br>
    <form action="/post/show-post">
        <button class="button"> Show All Posts! </button>
    </form>
    <div>
        <% if(error && error.length > 0) {%>
        <div align="center" style="color:red;">
            <%= error %>
        </div>
         <% } else if (success && success.length > 0) { %>
        <div align="center" style="color:green;">
            <%= success %>
        </div>
        <% } %>
     </div>
</article>
</body>
</html>
